.cip-container {
    flex:1;
    height: 400px; /* for example */
    border: 3px solid black;
    border-radius: 7px;
    margin:40px;
}

.cip-header {
    font-family: Benguiat;
    text-align:center;
}

.cip-img {
    display: block;
    margin: auto;
    margin-top:40px;
    margin-bottom: 35px;
    width: 70%;
}

.button-container {
    text-align: center;
}

.about{
    display: block;
    text-align:center;
    color:black;
    font-family: Special Elite;
    margin-top:10px;
}

