.footer-container{
    margin-top: 200px;
    margin-bottom:50px;
    font-family: Benguiat;
    text-align: center;
}

.twitter-logo {
    margin-right:10px;
    color:black;
}

.website-logo { 
    color:black;

}