.cip-container {
    flex:1;
    height: 400px; /* for example */
    border: 3px solid black;
    border-radius: 7px;
    margin:40px;
}


@media screen and (max-width: 768px){
    .cip-container{
        height: 300px;
    }

}


@media screen and (min-width: 1100px){
    .cip-container{
        height: 500px;
    }

}

.cip-header {
    font-family: Benguiat;
    text-align:center;
}

.pit-img {
    display: block;
    margin: auto;
    width: 50%;
}

.button-container {
    text-align: center;
    margin-bottom: 10px; /* Adjust as needed */
}

.enter {
    display: inline-block;
    margin: auto;
    margin-right:5%;
    margin-bottom:1%;
    min-width: 80px;
}

.submit{
    display: inline-block;
    margin: auto;
    min-width: 80px;
}

.enter-btn {
    width:100%;
    font-family: Benguiat;
    min-width: 80px;
}

.submit-btn {
    width:100%;
    font-family: Benguiat;
    min-width: 80px;
}

.cip-sub-container {
    padding: 20px;
    justify-content: space-between;
    height:60%;
}


@media screen and (max-width:1100px){
    .cip-sub-container{
        height:40%;
    }
}



.about {
    display: block;
    text-align: center;
    color: black;
    font-family: Special Elite;
}
