.header{
    font-family: Benguiat;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    padding-top:40px;
}

.headerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.cip {
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top:50px;
    width:80%;
}



@media screen and (max-width:576px){
    .header{
        font-size: 3rem;
    }
}


@media screen and (max-width:768px){
    .header{
        font-size: 3rem;
    
    }
    .cip {
        flex-direction: column;
    }
}

@media screen and (min-width: 1100px) {
    .cip {
        flex-direction: row;
    }
    
}

@media screen and (max-width: 1100px) {
    .cip {
        flex-direction: column;
    }  
    .header{
        font-size: 3rem;
    }
}


.imp-header {
    margin-top: 10px;
    text-align: center;
    font-family: Benguiat;
}

