.userdisplay {
    font-family: Benguiat;
    margin-right:9px;
    font-size: 1.2rem;
    color:whitesmoke;
}

.login-button {
    margin-right: 5px;
    font-family:Benguiat;
}

.signup-button {
    margin-right: 5px;
    font-family:Benguiat;
}

.logout-button {
    margin-right: 5px;
    font-family:Benguiat;
}

.dune{
    font-family: Benguiat;
    color: whitesmoke;
    text-decoration: none;
}

.nav-style{
    background-color:#313131;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
  }
  
  .center-nav {
    margin-left: auto;
    margin-right: auto;
  }
  
  .form-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-image{
    padding:5px;
  }