.userdisplay {
    font-family: Benguiat;
    margin:auto;
    margin-right:9px;
    font-size: 1.2rem;
    white-space:nowrap;
}

.form-inline {
    display: flex;
    flex-wrap: nowrap;
}

.login-button {
    margin-right: 5px;
    font-family:Benguiat;
}

.signup-button {
    margin-right: 5px;
    font-family:Benguiat;
}

.logout-button {
    margin-right: 5px;
    font-family:Benguiat;
}

.dune{
    margin: auto;
    text-align: center;
    font-family: Benguiat;
    color: black;
    display:inline-block;
    text-decoration: none;
}